<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {% endblock %}</title>
    <style>
        table {
            border: 1px solid;
        }
        label {
            display: block;
            padding-bottom: 10px;
        }
        th {
            font-family: Arial, sans-serif;
            font-size: 10pt;
            border: 1px solid;
        }

        td {
            font-family: "Courier New", sans-serif;
            font-size: 12pt;
            border: 1px solid;
        }

        h4 {
            color: blue;
            font-size: 14pt;
        }
    </style>
</head>
<body>
{% block content %} {% endblock %}
</body>
</html>