{% extends 'index.html' %}

{% block title %}
    Университеты
{% endblock %}

{% block content %}
    <h4>Университеты: </h4>
    <table>
        <thead>
        <tr>
            <th>Полное наименование</th>
            <th>Сокращенное наименование</th>
            <th>Дата основания</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for row in table %}
            <tr>
                <td>{{ row.full_name }}</td>
                <td>{{ row.short_name }}</td>
                <td>{{ row.foundation_date }}</td>
                <td><a href="/universities/{{ row.id }}">Редактировать</a> <a href="/universities/{{ row.id }}/delete">Удалить</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="/universities/new">Добавить университет</a>
    <a href="/">Главная</a>
{% endblock %}